#all-select {
    width: 1200px;
    height: 455px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    padding-top: 10px;
}

#confirmSelect {
    position: relative;
    border: 0;
    background-color: white;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

#sort {
    padding-top: 10px;
}

#house-show {
    width: 1200px;
    height: 1200px;
    top: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
}


.select-type {
    display: inline-block;
    color: rgb(56, 56, 56);
    width: 200px;
    text-align: center;
}


/* 手机端适配 */
@media (max-width: 768px) {
    #all-select {
        width: 85%;
        height: auto;
        position: static;
        transform: none;
        margin: 2.5%;
        padding: 5%;
    }

    #house-show {
        width: 85%;
        height: auto;
        position: static;
        transform: none;
        margin: 2.5%;
        padding: 5%;
        top: auto;
    }


    .select-type {
        width: 100%;
        margin-bottom: 10px;
    }
}

.ant-divider {
    margin: 8px 0 8px 0;
}